{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<img src="../static/computer.svg" alt="Logo" width="100px">
<h5><br />A social media platform that you can trust.</h5>
<p>
    <a href="https://github.com/shridpant/mindhunters/blob/main/README.md" target="_blank">Explore the docs</a>
    ·
    <a href="https://github.com/shridpant/mindhunters/issues" target="_blank">Report Bug</a>
    ·
    <a href="https://github.com/shridpant/mindhunters/issues" target="_blank">Request Feature</a>
</p>
<br /><hr><br />
<p><strong>Premise</strong></p>
<p>
    Cyber bullying has risen exponentially over the years, especially among teens. And while the traumatic experiences of the victims are well-known, little has been done by social media giants to preemptively take action. On a large scale application, merely acting on "reported posts" is not nearly sufficient. It is absolutely necessary to proactively participate in the prevention of cyber bullying.
</p>
<p><strong>About the Project</strong></p>
<p>
    <em>Mindhunters</em> is a state-of-the-art NLP-algorithm on which this social media platform is wrapped. It provides sophisticated detection of texts that are violent, offensive, sexist, racist, discriminant or derogatory in nature. The generated scores are used to provide alerts to the social media platform, which may take appropriate action against the post and/or user.
</p>
<p><strong>Credits</strong></p>
<p>
This project was created by <a href="https://www.linkedin.com/in/gaurav-agrawal-070599192/">Gaurav Agrawal</a>, <a href="https://www.linkedin.com/in/shridpant/">Shrid Pant</a> and <a href="https://www.linkedin.com/in/tarundhankhar/">Tarun Dhankhar</a>.
</p>
{% endblock %}