{% extends "layout.html" %}

{% block title %}
    {{ userInfo["username"] }}
{% endblock %}

{% block custom %}
<style>
.input_bio {
    font-family: inherit;
    font-size: inherit;
    border: none;
    line-height: 1.5;
    background: transparent;
  }
  .input_dp {
    font-family: inherit;
    font-size: 0.50rem;
    line-height: 1.5;
  }
  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    }
</style>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-5" style="text-align: right;">
            <img src="{{ dp }}" style="max-width:50%; max-height:auto" alt="Display Picture"><br /><br />
            <form action="/profile" method="post" enctype="multipart/form-data">
                <p>
                    <input class="input_dp" type="file" name="dp_upload"><input class="input_dp" name="dp_submit" type="submit" value="Upload">
                </p>
            </form>
        </div>
        <div class="col-6" style="text-align: left;">
            <h2 class="card-title"><strong>Hi, {{ userInfo["username"] }}!</strong></h2>
            <div class="form-group">
                <form action="/profile" method="POST">
                    <input class="input_bio form-control" name="bio" type="search" value='{{ userInfo["bio"] }}'' maxlength="20">
                </form>
            </div>
            <a href="" class="btn btn-outline-dark">Reputation Score: {{ reputation }}</a>
        </div>
    </div><br />
    {% if posts is defined %}
    <br />
    <input type="submit" class="favourite" value="Like" name="8">
    <button type="button" onclick="loadDoc()" id="likeButton" name="liked">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 6.236l.894-1.789c.222-.443.607-1.08 1.152-1.595C10.582 2.345 11.224 2 12 2c1.676 0 3 1.326 3 2.92 0 1.211-.554 2.066-1.868 3.37-.337.334-.721.695-1.146 1.093C10.878 10.423 9.5 11.717 8 13.447c-1.5-1.73-2.878-3.024-3.986-4.064-.425-.398-.81-.76-1.146-1.093C1.554 6.986 1 6.131 1 4.92 1 3.326 2.324 2 4 2c.776 0 1.418.345 1.954.852.545.515.93 1.152 1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
        </svg>
    </button>
    <hr><br />
    <h3>Your feed</h3><br />
            {% for post in posts %}
            <div class="card border-dark mb-3 text-center">
                <div class="card-body text-dark">
                    <div class = "row">
                        <div class="col-10" style="text-align: center;">
                            <h5 class="card-title">{{ post["text"] }}</h5>
                            <p class="card-text"><em>{{ post["nature"] }}</em></p>
                            <p class="card-text"><em>{{ post["timestamp"] }}</em></p>
                            <button type="submit" value='{{ post["id"] }}'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 6.236l.894-1.789c.222-.443.607-1.08 1.152-1.595C10.582 2.345 11.224 2 12 2c1.676 0 3 1.326 3 2.92 0 1.211-.554 2.066-1.868 3.37-.337.334-.721.695-1.146 1.093C10.878 10.423 9.5 11.717 8 13.447c-1.5-1.73-2.878-3.024-3.986-4.064-.425-.398-.81-.76-1.146-1.093C1.554 6.986 1 6.131 1 4.92 1 3.326 2.324 2 4 2c.776 0 1.418.345 1.954.852.545.515.93 1.152 1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                </svg>
                                {{ post["likes"] }}
                            </button>
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="col-2" style="text-align: right;">
                                <button class="deleteButton">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                                </svg>
                                </button>
                        </div>
                    </div>
                </div>
            </div><br />
            {% endfor %}
    {% endif %}
    <script>
        function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
        }
        $(document).ready(function(){
            var clicked;
            $(".favorite").click(function(){
            clicked = $(this).attr("name");
            $.ajax({
                type : 'POST',
                url : "/profile",
                contentType: 'application/json;charset=UTF-8',
                data : {'data':clicked},
                success: function(result){
                    alert(result.output);
                }
            });
            });
        });
    </script>
{% endblock %}

